<title>User Time Tracking </title>
<p>Timer List for ID: <%=timers.id%></p>
    <% timers.timer.map((timer) => { %>
        <%=timer.name%>: <span id="<%=timer.id%>Counter"></span><br />
        <br />
    <% }) %>
    <% timers.timer.map((timer) => { %>
        <button onClick="start('<%=timer.id%>','<%=timers.roomId%>')"><%=timer.name%></button>
    <% }) %>
<br />
<br />
<div id="newCounter">
    <input type="text" id="newCounterInput"><button onClick="createCounter('<%=timers.roomId%>')">Add Counter</button>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="../io.js"></script>